* {
    font-family: "Press Start 2P", system-ui;
}

body {
    margin: 0;
    background-color: #4ec0ca; /* The typical Flappy Bird blue background */
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #000;
}

.navbar ul li:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(100%);
    transform: translateX(-50%);
    width: 120px;
    height: 70px;
    background: url('pipe.png') no-repeat center center;
    background-size: 60%;
}


.title { 
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
div {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
    
}

  